* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

@mixin df-justify-center {
    display: flex;
    justify-content: center;
}

@mixin df-row {
    display: flex;
    flex-direction: row;
}

@mixin df-align-item {
    display: flex;
    align-items: center;
}

@mixin df-direction-clmn {
    display: flex;
    flex-direction: column;
}

@mixin df-aling-justify-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url("../imgs/6179262.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header button {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .button {
    border: 0;
  }
  
  .header {
    padding: 1em;
    @include df-row;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .header img {
    width: 70px;
    height: 70px;;
  }
  
  
  .header .button {
    display: none;
  }
  
  .header .svg {
    width: 2em;
    height: 2em;
    fill: white;
  }
  
  .header .ul {
    @include df-align-item;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  
.header a {
    color: white;
    text-decoration: none;
}

  .header .li {
    margin: 0 .5em;
    font-weight: 900;
    transition: 550ms;
    font-size: 20px;
    font-family: 'Playball', cursive;
    color: white;
  }
  
  .header .li:hover {
    transition: 550ms;
    font-size: 28px;
  }
  
.contenedor_primera_img a {
    text-decoration: none;
    color: white;
    font-size: inherit;
  }
  
  li {
    list-style-type: none;
  }
  
  
  @media screen and (max-width:760px) {
    .contenedor_primera_img .header, .main_cursos .header {
      flex-flow: row wrap;
    }
  
    .contenedor_primera_img .header .button, .main_cursos .header .button {
      display: block;
      cursor: pointer;
    }
  
    .contenedor_primera_img .header .nav, .main_cursos .header .nav {
      width: 100%;
    display: none; 
      height: 0;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  
    .contenedor_primera_img .header .nav.activo, .main_cursos .header .nav.activo {
      display: block;
      height: 35vh;
      pointer-events: auto;
    }
  
    .contenedor_primera_img .header .ul, .main_cursos .header .ul {
      flex-direction: column;
    }
  
    .contenedor_primera_img .header .li, .main_cursos .header .li  {
      margin: 10px 0;
    }
    
    .contenedor_primera_img .primera_img_fondo h1, .main_cursos .primera_img_fondo h1 {
        font-size: 27px;
        font-family: 'Roboto', sans-serif;
    }
    
    .contenedor_primera_img .primera_img_fondo p, .main_cursos .primera_img_fondo p  {
        font-size: 20px;
        font-family: 'Pinyon Script', cursive;
        padding-top: 1%;
  }


}

.a img {
    width: 100px;
    height: 100px;
}
/**Termina menu navegacion**/
.contenedor_primera_img {
    height: 730px;
    background-image: url(../imgs/c2bd6746c5ab4741bd83f5a82715f4d1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.primera_img_fondo h1, .primera_img_fondo p {
    color: white;
}

.primera_img_fondo h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.primera_img_fondo p {
    font-size: 28px;
    font-family: 'Pinyon Script', cursive;
    padding-top: 1%;
}

.primera_img_fondo {
    width: 90%;
    padding-left: 3%;
    padding-top: 12%;
}

.part1 {
    padding: 5%;
}

.img_car {
    height: 600px;
}

.part1 h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    padding: 3%;
}

.primera_img_fondo svg {
    transition: 800ms;
}

.primera_img_fondo svg:hover {
    transition: 800ms;
    height: 55px;
    width: 55px;
}

.primera_img_fondo div {
    height: 60px;
    font-family: 'Roboto', sans-serif;
}


/**Termina Part1**/

ol {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.comunidad {
    height: 100px;
    width: 100px;
}

.part2 {
    margin-top: 20%;
}

.part2 div ol li {
    color: white;
    @include df-direction-clmn;
    gap: 5%;
    align-items: center;
    text-align: center; 
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/**Termina part2**/
.part3 ol li img{
    width: 90%;
    height: 100%;
}

.part3 {
    height: 550px;
}

.part3 ol {
padding-top: 6%;
}

.part3 h2 {
    text-align: center;
    color: white;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.part3 ol li img {
    transition: 550ms;
}

.part3 ol li img:hover {
    opacity: 30%;
    transition: 550ms;
}

/**Termina part3**/

.newsletter_container {
    padding-top: 10%;
    @include df-direction-clmn;
    align-items: center;
    text-align: center;
}

.newsletter_container h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.newsletter_container .email1 {
    color: black;
    padding: 6px;
}

.enviar {
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif
}
/**Termina Newsletter**/

footer {
    height: 350px;
    width: auto;
    background-color: black;
    @include df-row;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }

.whatsapp-icon svg {
    transition: 550ms;
    
}

.whatsapp-icon svg:hover {
    transition: 550ms;
    height: 60px;
    width: 60px;
}

.maps {
    padding: 3%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer div img {
    width: 200px;
    height: 200px;
    margin-top: 8%;
}

.logofooter p {
    padding-top: 10%;
    text-align: center;
}

.logofooter {
    @include df-aling-justify-c;
    width: 350px;
    flex-direction: column;
    color: wheat;
    margin-left: 2%;
}
  
.redes img {
    height: 60px;
    width: 60px;
}

.redes {
    @include df-direction-clmn;
    gap: 80px;    
    justify-content: center;
    margin-left: 8%;
}

.redes {

    span {
    @include df-row;
    gap: 10px;
    align-items: center;
    color: white;

    }
}

/**Termina Footer**/

/**COMIENZA CURSOS**/

.main_cursos , .main_lash, .main_about{
    background-image: url("../imgs/6179262.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_cursos .nav .li {
    color: white;
}

.nav-item a {
    color: white;
}

.whatsapp-icon {
    color: white;
}

.container-fluid a {
    font-family: 'Roboto', sans-serif;
}

.uñas, .pestañas, .cejas, .intensivos  {
    text-align: center;
    h2 {
        color: #C49A00;
        font-family: 'Playball', cursive;
    }
    div .col {
        @include df-justify-center;
    }
}

.card {

    box-shadow: 0 0 10px #000;

    h5 {
        color: white;
        font-weight: 500;
        font-family: 'Playball', cursive;
    }

    p, a {
        font-family: 'Roboto', sans-serif;
    } 

}

.grid-card {
    display: grid;
    grid-template-rows: repeat(3, 20% 40% 40%);
}

.grid-card a {
    margin-top: 5%;
}

/**Termina Cursos**/

/**Comienza la edicion de pag. curso en gral**/

.grid_container_info, .part_buy {
    display: grid;
    grid-template-columns: 50% 50%;
}

.img_cursos {
    height: 300px;
    width: auto;
}
.carrousel {
    padding: 10%;
}

#carouselExample {
    box-shadow: 0 0 20px #000;
}

.text_info {
    @include df-justify-center;
    flex-direction: column;
    color: white;
}

.text_info h2 {
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 55px;
}

.text_info ul li {
    font-size: 20px;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
}

.lash {
    display: flex;
    flex-direction: column;
}

.temario h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.temario ul {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.temario h4 {
    padding-left: 5%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.buy {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8) inset, 0px -8px 16px;
    border-radius: 100px;
    @include df-aling-justify-c;
    flex-direction: row;
    gap: 30%;
}

.buy div h6 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.buy .metodos_pagos li {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 3%;
}

.bloque_pagos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    padding-bottom: 15%;
}

.buy button {
    background-color: #000;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    padding: 5px;
}

/**Termina la edicion de cursos**/

/**Comienza About**/

.part1_about, .part3_about {
    @include df-row;
}

.part1_about img , .part3_about img {
    height: 600px;
    width: 600px;
    box-shadow: 0 0 10px #000;
}

.part1_about div , .part3_about div{
    padding: 3%;
}

.text_about , .part3_about div  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif
}

/**Termina part1about**/
/**Comienza part2about**/

.part2_about h3 {
    text-align: center;
    color: white;
    font-family: 'Playball', cursive;
    font-size: 45px;
}

.part2_about div {
    @include df-row;
    justify-content: space-around;
}

.part2_about {
    img {
        width: 200px;
        height: 200px;
        box-shadow: 0 0 10px #000;
    }

    span {
        @include df-row;
        align-items: center;
        height: 200px;
        padding-left: 2%;

        p{
            color: white;
            font-family: 'Roboto', sans-serif;
            padding-left: 1%;
        }

    }

}

.img_mala {
    height: 360px;
}

/**Termina LA PAG**/
/**Comienza Responsive**/


