* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

main {
    background-image: url("../imgs/6179262.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header button {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .button {
    border: 0;
  }
  
  .header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: blueviolet;
  }
  
  .header img {
    width: 70px;
    height: 70px;;
  }
  
  
  .header .button {
    display: none;
  }
  
  .header .svg {
    width: 2em;
    height: 2em;
    fill: white;
  }
  
  .header .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  .header .li {
    margin: 0 .5em;
    font-weight: 900;
    transition: 550ms;
    font-size: 20px;
    font-family: 'Playball', cursive;
  }
  
  .header .li:hover {
    transition: 550ms;
    font-size: 28px;
  }
  
.contenedor_primera_img a {
    text-decoration: none;
    color: white;
    font-size: inherit;
  }
  
  li {
    list-style-type: none;
  }
  
  
  @media screen and (max-width:760px) {
    .contenedor_primera_img .header {
      flex-flow: row wrap;
    }
  
    .contenedor_primera_img .header .button {
      display: block;
      cursor: pointer;
    }
  
    .contenedor_primera_img .header .nav {
      width: 100%;
    display: none; 
      height: 0;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  
    .contenedor_primera_img .header .nav.activo {
      display: block;
      height: 35vh;
      pointer-events: auto;
    }
  
    .contenedor_primera_img .header .ul {
      flex-direction: column;
    }
  
    .contenedor_primera_img .header .li {
      margin: 10px 0;
    }
    
    .contenedor_primera_img .primera_img_fondo h1 {
        font-size: 27px;
        font-family: 'Roboto', sans-serif;
    }
    
    .contenedor_primera_img .primera_img_fondo p {
        font-size: 20px;
        font-family: 'Pinyon Script', cursive;
        padding-top: 1%;
  }


}

.a img {
    width: 100px;
    height: 100px;
}
/**Termina menu navegacion**/
.contenedor_primera_img {
    height: 730px;
    background-image: url(../imgs/c2bd6746c5ab4741bd83f5a82715f4d1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.primera_img_fondo h1, .primera_img_fondo p {
    color: white;
}

.primera_img_fondo h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.primera_img_fondo p {
    font-size: 28px;
    font-family: 'Pinyon Script', cursive;
    padding-top: 1%;
}

.primera_img_fondo {
    width: 90%;
    padding-left: 3%;
    padding-top: 12%;
    padding-bottom: 10%;
}

.part1 {
    padding: 5%;
}

.img_car {
    height: 600px;
}

.part1 h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    padding: 3%;
}

.primera_img_fondo svg {
    transition: 800ms;
}

.primera_img_fondo svg:hover {
    transition: 800ms;
    height: 55px;
    width: 55px;
}

.primera_img_fondo div {
    height: 60px;
    font-family: 'Roboto', sans-serif;
}


/**Termina Part1**/

ol {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.comunidad {
    height: 100px;
    width: 100px;
}

.part2 {
    margin-top: 20%;
}

.part2 div ol li {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    text-align: center; 
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/**Termina part2**/
.part3 ol li img{
    width: 90%;
    height: 100%;
}

.part3 {
    height: 550px;
}

.part3 ol {
padding-top: 6%;
}

.part3 h2 {
    text-align: center;
    color: white;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.part3 ol li {
    transition: 550ms;
}

.part3 ol li:hover {
    opacity: 30%;
    transition: 550ms;
}

/**Termina part3**/

.newsletter_container {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.newsletter_container h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.newsletter_container .email1 {
    color: black;
    padding: 6px;
}

.enviar {
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 2px solid black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif
}
/**Termina Newsletter**/

footer {
    height: 350px;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }

.whatsapp-icon svg {
    transition: 550ms;
}

.whatsapp-icon svg:hover {
    transition: 550ms;
    height: 60px;
    width: 60px;
}

.maps {
    padding: 3%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer div img {
    width: 200px;
    height: 200px;
}

.logofooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    flex-direction: column;
    color: wheat;
}
  
.logofooter p {
    padding-top: 20%;
}
.redes img {
    height: 60px;
    width: 60px;
}

.redes {
    display: flex;
    gap: 80px;
    flex-direction: column;
    justify-content: center;
}

.redes span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
}
