* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

main {
    background-image: url("../imgs/Q0vvx2Lk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header button {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .button {
    border: 0;
  }
  
  .header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .header img {
    width: 70px;
    height: 70px;;
  }
  
  
  .header .button {
    display: none;
  }
  
  .header .svg {
    width: 2em;
    height: 2em;
    fill: white;
  }
  
  .header .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  .header .li {
    margin: 0 .5em;
    font-weight: 900;
    transition: 550ms;
    font-size: 20px;
    font-family: 'Playball', cursive;
  }
  
  .header .li:hover {
    transition: 550ms;
    font-size: 28px;
  }
  
.contenedor_primera_img a {
    text-decoration: none;
    color: white;
    font-size: inherit;
  }
  
  li {
    list-style-type: none;
  }
  
  
  @media screen and (max-width:760px) {
    .contenedor_primera_img .header {
      flex-flow: row wrap;
    }
  
    .contenedor_primera_img .header .button {
      display: block;
      cursor: pointer;
    }
  
    .contenedor_primera_img .header .nav {
      width: 100%;
    display: none; 
      height: 0;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  
    .contenedor_primera_img .header .nav.activo {
      display: block;
      height: 35vh;
      pointer-events: auto;
    }
  
    .contenedor_primera_img .header .ul {
      flex-direction: column;
    }
  
    .contenedor_primera_img .header .li {
      margin: 10px 0;
    }
    
    .contenedor_primera_img .primera_img_fondo h1 {
        font-size: 27px;
        font-family: 'Roboto', sans-serif;
    }
    
    .contenedor_primera_img .primera_img_fondo p {
        font-size: 20px;
        font-family: 'Pinyon Script', cursive;
        padding-top: 1%;
  }


}

.a img {
    width: 100px;
    height: 100px;
}
/**Termina menu navegacion**/
.contenedor_primera_img {
    height: 730px;
    background-image: url(../imgs/c2bd6746c5ab4741bd83f5a82715f4d1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.primera_img_fondo h1, .primera_img_fondo p {
    color: white;
}

.primera_img_fondo h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.primera_img_fondo p {
    font-size: 28px;
    font-family: 'Pinyon Script', cursive;
    padding-top: 1%;
}

.primera_img_fondo {
    width: 90%;
    padding-left: 3%;
    padding-top: 12%;
    padding-bottom: 10%;
}

/**Termina Part1**/

.part1 {
    padding: 5%;
}

.img_car {
    height: 600px;
}
/

